<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.no7player.mapper.CommodityMapper">
 
  <select id="findCommodity" resultType="cn.no7player.model.Commodity" parameterType="int">
    select * from commodity WHERE id = #{id}
  </select>

  <select id="addCommodity" parameterType="cn.no7player.model.Commodity">
    INSERT into
      commodity(name,price,discountPrice,status,description)
    VALUES
      (#{name},#{price},#{discountPrice},#{status},#{description})
  </select>

  <select id="updateCommodity" resultType="cn.no7player.model.Commodity">
    update
      commodity
    <trim prefix="set" suffixOverrides=",">
      <if test="name!=null">
        name=#{name},
      </if>
      <if test="price!=null">
        price=#{price},
      </if>
      <if test="discountPrice!=null">
        discountPrice=#{discountPrice},
      </if>
      <if test="status!=null">
        status=#{status},
      </if>
      <if test="description!=null">
        description=#{description},
      </if>
    </trim>
    WHERE
      id = #{id}
  </select>

  <select id="findAll" resultType="cn.no7player.model.Commodity">
    select * from commodity
  </select>

</mapper>